/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2016, 7:53:05 PM
    Author     : Igor
*/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
        background-color: palegoldenrod;
}
nav {
	padding: 5px;
	padding-bottom:10px;
        height: 40px;
        font-size: 30px;
	border-bottom: 2px solid grey;
}
nav span{
    color: coral;
}
header{
    background-color: black;
    color: white;  
}
.nav_right {
	float: right;
        padding-right: 15px;
}
.nav_right a {
        width: 30px;
	font-size: 25px;
	color: grey;
	text-decoration: none;
        color: #00cc33;
}
.searcharea{
    margin-top: 10px;
    height: 70px;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
}
.searcharea input{
    height: 18px;
    float: right;
}
.searcharea button{
    
    background-color: oldlace;
    float: right;
}
.bidTable{
     padding-top: 50px;
}
.bidTable table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
} 

.bidTable table, th, td {
    border: 1px solid black;
    text-overflow: ellipsis;
}
form{
    padding-top: 20px;
    text-align: center;
    
}
#tableheader{
    font: bolder;
    color: darkcyan;
    font-size: larger;
        
}


